body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffd400;
}

/* HEADER */
header {
  background: black;
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #ffd400;
}

h1 {
  margin: 0;
}

#backBtn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #ffd400;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}
/* LOGOUT BUTTON */
#logoutBtn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #ffd400;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

#logoutBtn:hover {
  background: #e6c200;
}

/* GRID */
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  gap: 20px;
}
/* GRID */
.menu2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  gap: 20px;
}

/* CARDS */
.card {
  background: #1e1e1e;
  border: 2px solid #ffd400;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}

.card h2 {
  margin-top: 0;
}

.card h3 {
  opacity: 0.8;
}

.card:hover {
  background: #ffd400;
  color: black;
  transform: scale(1.05);
}
.card {
  background: #1e1e1e;
  border: 2px solid #ffd400;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}

.card2 h2 {
  margin-top: 0;
}

.card2 p {
  opacity: 0.8;
}
/*
.card2:hover {
  background: #ffd400;
  color: white;
  transform: scale(1.03);
}
*/

#userList {
  margin-top: 10px;
}

.user-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e1e;
  border: 2px solid #ffd400;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.user-row span {
  font-weight: bold;
}

.user-row select {
  padding: 6px;
  background: black;
  color: #ffd400;
  border: 1px solid #ffd400;
  cursor: pointer;
}
