body {
  font-family:  Arial;
  background-color: black;
  text-align: center;
}
h1 {
  color: darkyellow
}
h2 {
  color: darkyellow
}
p2 {
  color: darkyellow
}
p1 {
  color: darkyellow
 
}
input
{
  display: block;
  margin: 10px auto;
  padding: 10px
  width: 220px;
  font-size: 20px;
  border: 1px solid dark yellow;
  border-radius: 4px;
}
input:focus{
  border-color:yellow;
  outline: none;
}
  
