body {
  font-family:  Arial;
  background-color: white;
  text-align: center;
}
h1 {
  color: darkyellow
}
h2 {
  color: darkyellow
}
p2 {
  color: darkyellow
}
p1 {
  color: darkyellow
 
}
.login-box {
  background:grey;
  padding:25px;
  width: 250px;
  margin: 30px auto;
  border-radius: 10px;
}

input
{
  display: block;
  margin: 10px auto;
  padding: 10px
  width: 220px;
  font-size: 20px;
  border: 1px solid dark yellow;
  border-radius: 4px;
}
input:focus{
  border-color:yellow;
  outline: none;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: grey;
  color: darkyellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

  
